@import '../../Styles/variable.scss';

.localAddress {
    padding: 3rem 0;

    &__flex {
        display: flex;

        div {
            flex-grow: 8;

            &:nth-child(2) {
                flex-grow: 4;
            }
        }
    }

    &__input {
        display: flex;
        flex-direction: column;
        margin: 0 3rem 4rem 0;

        label {
            font-size: 1.8rem;
            font-weight: 600;
            margin-bottom: 0.9rem;
        }
    }

    &__innerflex {
        display: flex;
        padding-right: 3rem;
    }

    &__button {
        display: flex;
        justify-content: space-between;
        height: 5rem;
        margin-top: 3.15rem;

        button {
            height: 100%;
            font-weight: 600;
        }
    }
}