@import '../../Styles/_variable.scss';

.changePwd {
    padding: 3rem 0;

    &__formContainer {
        display: flex;
    }

    &__customInput {
        display: flex;
        flex-direction: column;
        margin: 0 3rem 4rem 0;

        label {
            font-size: 1.8rem;
            font-weight: 600;
            margin-bottom: 0.9rem;
        }
    }

    &__buttonContainer {
        height: 5rem;

        button {
            height: 100%;
            font-weight: 600;
        }
    }
}