@import "../../Styles/variable.scss";

.profile {
  height: 73rem;
  width: 100%;
  padding: 3rem;

  &__background {
    background-color: $whiteColor;
    padding: 3rem;
    overflow-y: auto;
    height: 100%;
  }
}

.profileDetails,
.localAddress,
.perAddress,
.changePwd {

  &__header {
    border-bottom: 2px solid $brightGrayColor;
    cursor: pointer;

    h1 {
      color: $yankeesBlueColor;
      padding: 20px 0;
      font-size: 2.8rem;
    }
  }

  &__body {
    h1 {
      padding: 20px 0;
    }
  }
}