$whiteColor: #fff;
$redColor: red;
$yankeesBlueColor: #173346;
$darkGrayColor: #aaa;
$brightGrayColor: #ebebeb;
$lotionColor: #fafafa;
$culturedColor: #f4f4f4;
$darkSlateGrayColor: #284960;
$sonicSilverColor: #777;