@import '../../Styles/variable.scss';

.py3 {
    margin: 3rem;
}

.approvedpage {
    background-color: $whiteColor;
    overflow-y: auto;
    height: calc(100vh - 26rem);
    width: 100%;

    form {
        padding: 3rem 3rem 0rem 3rem;

        .error {
            color: $redColor;
            display: block;
            font-size: 2rem;
        }
    }
}

.displayflex {
    display: flex;
    flex-basis: auto;
    flex-wrap: wrap;
    align-items: start;

    .inputcontrol {
        margin: 0rem 2rem 5rem 0rem;
    }

    input {
        color: $darkGrayColor;
        outline: none;
        font-size: 2rem;
    }

    .dropdown {
        background-color: $lotionColor;
        border: solid 0.2rem $brightGrayColor;
        height: 5rem;
        width: 30rem;
        padding: 1.1rem 1.8rem 1.1rem 1.9rem;
        font-size: 2rem;
        border-radius: 0rem;
    }

    select {
        color: $darkGrayColor;
        outline: none;

        option {
            color: $darkGrayColor;
            font-size: 2rem;
        }
    }

    label {
        color: $yankeesBlueColor;
        display: block;
        font-size: 1.8rem;
        margin-bottom: 0.9rem;
        font-weight: 600;
    }

    button {
        background-color: $brightGrayColor;
        font-weight: normal;
        margin-top: 3.25rem;
        height: 5rem;
        width: 10rem;
        font-size: 2rem;
    }
}